@font-face {
    font-family: "Freshman";
    src: local("Freshman"),
        url("../fonts/Freshman.ttf") format("truetype");
}

@font-face {
    font-family: "MKBritishWriting";
    src: local("MKBritishWriting"),
        url("../fonts/MKBritishWriting.ttf") format("truetype");
}