/*Home pricing page*/
.homePricing-title {
    text-align: center;
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;

    background-color: rgba(255, 196, 0, 0.274);
}
