/**/

/*#region Universal*/
.br {
    display: block;
    margin-bottom: 0em;
}

#br {
    display: block;
    margin-bottom: 0em;
}



#bold-this {
    font-weight: bold;
}

.testingHead {
    position: fixed;
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 30%;
    right: 0%;
    top: -3%;
}

.body {
    background-color: rgb(65, 65, 65);
    
}

.break-container {
    width: 50%;
}

/*#endregion*/

/*#region phone*/

/*Left Nav-bar*/
@media screen and (min-width: 700px) and (max-width: 799px) {

    /*Buttons*/
    #link-button {
        background-color: rgba(212, 172, 41, 0.404);
        border: 1px solid black;
        font-weight: lighter;
        font-size: 100%;
    }

    #link-button:hover {
        background-color: rgba(255, 196, 0, 0.514);
        border: 1px solid black;
        font-weight: lighter;
        font-size: 100%;
        /*Changes mouse cursor to pointer*/
        cursor: pointer;
    }

    /*Left Break: Contact info, resources, my links, project links*/
    /*background-color: rgb(65, 65, 65);*/
    

    .leftbreak {
        position: fixed;
        background-color: #6D623E;
        width: 98%;
        height: 145px;
        margin-top: -4px;
        margin-left: -10px;
        border: 1px solid black;
    
        text-align: center;
    }
    /*#region nav bar content*/
    .leftbreak-background-setter {
        background-color: rgb(65, 65, 65);
        width: 100%;
        height: 100%;
        margin-top: 1%;
    }

    .divider-line {
        background-color: black;
        height: 0px;
        border: none;
    }

    .contact-info {
        text-align: center;
        font-size: 100%;
    }

    .resources {
        /*Hide this for it takes up to much space*/
        font-size: 100%;

        margin-right: 480px;
        margin-top: -30px;
    }

    .my-projects {
        text-align: center;
        font-size: 85%;

        margin-left: 470px;
        margin-top: -130px;
        margin-bottom: -33px;
    }
    /*#endregion*/

    /*Right Break: content side*/
.rightbreak {
    z-index: -1;
    background-color: rgba(212, 175, 55, 0.5);
    width: 98%;
    height: 677px;
    margin-top: 148px;
    margin-left: -10px;
    position: absolute;
    border: 1px solid black;
}
}

@media screen and (min-width: 600px) and (max-width: 699px) {
/*Buttons*/
#link-button {
    background-color: rgba(212, 172, 41, 0.404);
    border: 1px solid black;
    font-weight: lighter;
    font-size: 100%;
}

#link-button:hover {
    background-color: rgba(255, 196, 0, 0.514);
    border: 1px solid black;
    font-weight: lighter;
    font-size: 100%;
    /*Changes mouse cursor to pointer*/
    cursor: pointer;
}

/*Left Break: Contact info, resources, my links, project links*/
/*background-color: rgb(65, 65, 65);*/


.leftbreak {
    position: fixed;
    background-color: #6D623E;
    width: 98%;
    height: 125px;
    margin-top: -4px;
    margin-left: -11px;
    border: 1px solid black;

    text-align: center;
}
/*#region nav bar content*/
.leftbreak-background-setter {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.divider-line {
    background-color: black;
    height: 0px;
    border: none;
}

.contact-info {
    text-align: center;
    font-size: 100%;
}

.resources {
    /*Hide this for it takes up to much space*/
    font-size: 80%;

    margin-right: 400px;
    margin-top: -35px;
}

.my-projects {
    text-align: center;
    font-size: 75%;

    margin-left: 420px;
    margin-top: -110px;
    margin-bottom: -33px;
}
/*#endregion*/

/*Right Break: content side*/
.rightbreak {
    z-index: -1;
    background-color: rgba(212, 175, 55, 0.5);
    width: 98%;
    height: 700px;
    margin-top: 128px;
    margin-left: -11px;
    position: absolute;
    border: 1px solid black;
}
}
@media screen and (min-width: 500px) and (max-width: 599px) {

}
@media screen and (min-width: 400px) and (max-width: 499px) {

}
@media screen and (min-width: 300px) and (max-width: 399px) {

}

/*#endregion */

/*#region desktop*/
@media screen and (min-width: 800px) and (max-width: 2000px) {

    .mainHTML {
        caret-color: rgba(0,0,0,0);
    }
    
    /*Scroll bar*/
    ::-webkit-scrollbar {
        width: 20px;
    }
    ::-webkit-scrollbar-track {
        background: #6D623E;
        border: 4px solid black;
        
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(212, 172, 41, 0.404);
        border: 4px solid black;
    }
    .resScrollBar{
        width: 1000px;
        height: 1000px;
    }

    /*Hover*/
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 196, 0, 0.514);
    }
    

    .br {
        display: block;
        margin-bottom: 0em;
    }

    #br {
        display: block;
        margin-bottom: 0em;
    }

    .divider-line {
        background-color: black;
        height: 3px;
        border: none;
    }

    #bold-this {
        font-weight: bold;
    }

    .body {
        background-color: rgb(65, 65, 65);

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .break-container {
        width: 50%;
    }

    /*placeholder text in input and text area boxes*/
    ::placeholder{
        color: rgb(64, 64, 64);
        position: relative;
        text-align: center;
    }
    ::-ms-input-placeholder{
        color: rgb(93, 93, 93);
    }

    /*Buttons*/
    #link-button {
        background-color: rgba(212, 172, 41, 0.404);
        border-style: solid;
        border-color: black;
        font-weight: lighter;
    }

    #link-button:hover {
        background-color: rgba(255, 196, 0, 0.514);
        border-style: solid;
        border-color: black;
        font-weight: lighter;

        /*Changes mouse cursor to pointer*/
        cursor: pointer;
    }

    /*Left Break: Contact info, resources, my links, project links*/
    .leftbreak {
        position: fixed;
        background-color: rgba(212, 175, 55, 0.3);
        width: 20%;
        margin-left: 0%;
        margin-top: 0%;
        height: 96%;

        border: 4px solid black;
        /*For Modals to be displayed ontop of right break*/
        z-index: 1;
    }

    .contact-info {
        text-align: center;
        font-size: 120%;
    }

    .resources {
        text-align: center;
    }

    .my-links {
        text-align: center;
        font-size: 120%;
    }

    .my-projects {
        text-align: center;
        font-size: 120%;
    }

    /*Right Break: Content side*/
    .rightbreak {
        background-color: rgba(212, 175, 55, 0.5);
        width: 75%;
        margin-left: 22%;
        height: 180%;

        position: absolute;
        border: 4px solid black;
    }

    .home-title {
        width: 80%;
        border: 4px solid black;
        padding: 10px;
        margin-left: 10%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
    }

    
    
    /*Home pricing page*/
    .homePricing-title {
        text-align: center;
        width: 80%;
        border: 4px solid black;
        padding: 10px;
        margin-left: 10%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
    }

    /*Picture Gallery*/
    .picture-gallery-title {
        text-align: center;
        width: 80%;
        border: 4px solid black;
        padding: 10px;
        margin-left: 10%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
    }

    /*Cosmic Number*/
    .cosmic-number{
        text-align: center;
        width: 80%;
        border: 4px solid black;
        padding: 10px;
        margin-left: 10%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
    }
}

/*#endregion*/

/*#region desktop and beyond*/

@media screen and (min-device-width: 2001px) {}

/*#endregion*/