
/*#region Universal*/
.testingHead {
    position: fixed;
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 200px;
    right: 0%;
    top: -10%;
}
/*#endregion*/

/*#region mobile*/
@media screen and (min-width: 300px) and (max-width: 399px) {
    .picture-gallery-title {
        text-align: center;
        width: 80%;
        border: 2px solid black;
        padding: 1px;
        margin-left: 10%;
        margin-top: 2%;
    
        background-color: rgba(255, 196, 0, 0.274);
    }
    
    .gallery-content{
        text-align: center;
        margin-left: 1%;
        margin-top: 1%;
    }
    
    .gallery-photo{
        width: 306px;
        height: 230px;
        border: 2px solid black;
    }
    }

/*#endregion*/


/*#region Desktop*/
@media screen and (min-width: 800px) and (max-width: 2000px) {
.picture-gallery-title {
    text-align: center;
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;

    background-color: rgba(255, 196, 0, 0.274);
}

.gallery-content{
    margin-left: 7%;
    margin-top: 1%;
}

.gallery-photo{
    width: 612px;
    height: 459px;
    border: 4px solid black;
}
}
/*#endregion desktop*/