/*#region Universal*/
/*Resume*/
.self-portrait {
    background-color: rgba(255, 196, 0, 0.274);
}
.resume-text{
    background-color: rgba(255, 196, 0, 0.274);
}
/*#endregion*/

/*#region boundry parameters*/
@media screen and (max-width: 799px){
    .resume-title{

        font-size: 200%;
        font-family: "AlexBrush-Regular";
    }
    .self-portrait {
        width: 138px;
        height: 184px;
        margin-top: 2%;
        border: 2px solid black;
    }
    .lca-certificate{
        margin-top: 2%;
        width: 60%;
        height: 60%;
        border: 2px solid black;
    }
    .dirtymike{
        margin-top: 2%;
        width: 70%;
        height: 70%;
        border: 2px solid black;
    }
    .resume-text {
        border: 2px solid black;
        padding: 10px;
        width: 80%;
        margin-left: 9%;
        margin-top: 2%;
    }
}
@media screen and (min-width: 800px){
    .resume-title{
        margin-right: 3%;
        font-size: 400%;
        font-family: "AlexBrush-Regular";
    }
    .self-portrait {
        width: 276px;
        height: 368px;
        margin-right: 4%;
        margin-top: 2%;
        border: 4px solid black;
    }
    .lca-certificate{
        margin-top: 2%;
        width: 557px;
        height: 394px;
        border: 4px solid black;
    }
    .dirtymike{
        margin-top: 2%;
        width: 539px;
        height: 536px;
        border: 4px solid black;
    }
    .resume-text {
        width: 80%;
        border: 4px solid black;
        padding: 10px;
        margin-left: 9%;
        margin-top: 2%;
    }
}
/*#endregion*/

/*#region mobile*/

@media screen and (min-width: 500px) and (max-width: 599px) {
    .resume-text {
        margin-left: 8%;
    }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
    .resume-text {
        margin-left: 7%;
    }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
    .resume-text {
        padding: 4px;
        width: 85%;
        margin-left: 6%;
        margin-top: 1%;
        font-size: 16px;
    }
}

/*#endregion*/


/*

    .self-portrait {
        width: 92px;
        height: 123px;
        margin-left: 30%;
        margin-top: 2%;

        border: 2px solid black;

        background-color: rgba(255, 196, 0, 0.274);
    }

    .basic-information {
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-left: 6%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
        font-size: 50%;
    }

    .my-skills {
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-left: 6%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
        font-size: 50%;
    }

    .my-talents {
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-left: 6%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
        font-size: 50%;
    }

    .my-education {
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-left: 6%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
        font-size: 50%;
    }

    .achievements {
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-left: 6%;
        margin-top: 2%;

        background-color: rgba(255, 196, 0, 0.274);
        font-size: 50%;
    }

*/